/* Style sheet from index.html and gtlf.html
This is used because of the differences needed for the full screen style.*/
/* @font-face {
  font-family: Sue Ellen Francisco;
  src: url(SueEllenFrancisco-Regular.ttf);
} */
@import url("//fonts.googleapis.com/css?family=Sue+Ellen+Francisco");

html,
body {
  font-family:  cursive;
  margin: auto;
  background-color: black;
}

h1 {
  font-style: bold;
  color: #e8ffee;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

h2 {
  color: #aa99ba;
  text-align: center;
  padding-bottom: 20px;
}

p {
  width: 50%;
  font-weight: 500;
  padding: 0px;
  padding-left: 25%;
  padding-bottom: 20px;
  line-height: 150%;
}

p.move-mid {
  padding-left: 0%;
  text-align: center;
  margin: auto;
  color: #5e7d8f;
}

a {
  color: #dfdfdf;
}

/*Styles for the overlay*/
#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

#instructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
