@font-face {
  font-family: Josefin Sans;
  src: url(JosefinSans-Medium.ttf);
}

/* @import url("https://fonts.googleapis.com/css?family=JosefinSans"); */

/* Style sheet from index.html and gtlf.html */
html, body {
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
  display: block;
  padding: 20px;
/*   background: url(  )repeat; */
}

/*Canvas style is used for styling the three.js window*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 800px;
  border: 3px solid #6E2E99;
  border-radius: 3px;
}

#space2 {
  width: 525px;
  height: 500px;
  margin: auto;
}

h1 {
  font-style: bold;
  color: #310f61;
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  color: #aa99ba;
  max-width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

p {
  width: 50%;
  max-width: 75%;
  font-weight: 500;
  padding: 0px;
  padding-left: 25%;
  padding-bottom: 20px;
  line-height: 150%;
  font-size: 20px;
}

p.mid {
  padding-left: 0%;
  text-align: center;
  margin: auto;
}

a {
  color: #735223;
}
